body
{
background-image: url("https://i.postimg.cc/hGLr6L4k/morado.jpg");
}

h1
{
    text-align: center;
}          

#principal h2
{
    color: #aaf;
    text-align: center;

}

#principal p
{
    color: aliceblue;
    background-color: rgba(241, 241, 241, 0.137);
    font-size
    padding: 20px;
    text-align: center;
}